<p id="notice"><%= notice %></p>
<h1>2048</h1>
<div id="game-show">
  <table id="game-show-board">
    <tbody class="table">

    </tbody>
  </table>
</div>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
